
/* frout-style_blocks.css --------------------------------- */

/* Block Margin */
.frout-list, 
.frout-accordion, 
.frout-footnote, 
.frout-blockquote, 
.frout-code, 
.frout-table, 
.frout-image-block,
.rsc-grid {
    margin: 0 1rem 2.5rem 1rem;
    border-radius: var(--border-radius);
}

/* Block Scrollbar */
.frout-code pre, 
.frout-table, 
.rsc-grid {
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--background-gray-dark) transparent;
}

/* Blcok Title */
.frout-list > div, 
.frout-footnote > div, 
.frout-code > div {
    position: absolute;
    top: -1rem;
    left: 1.2rem;
    padding: 0 0.6rem;
    background-color: var(--background-white);
    color: var(--text-red-dark);
    font-weight: 600;
    text-shadow: var(--text-shadow-red-light);
}

/* class="frout-list" ------------------------------------- */

/* List Block */
.frout-list {
    position: relative;
    padding: 1.2rem 1.8rem 1.2rem 2.5rem;
    border: var(--border-gray-medium);
}

/* Unordered List */
.frout-list ul, ol {
    list-style-type: disc;
    margin: 0;
    padding: 0;
}

/* Ordered List */
.frout-list ol {
    list-style-type: decimal;
}

/* List Item Padding */
.frout-list li {
    padding: 0.4rem 0.3rem;
}

/* List Item Marker */
.frout-list li::marker {
    color: var(--text-red-dark);
    font-size: 0.85rem;
}

/* Nested List Item Marker */
.frout-list ul ul,
.frout-list ol ul,
.frout-list ul ol,
.frout-list ol ol {
    list-style-type: circle;
    padding-left: 1.8rem;
    margin-bottom: -0.6rem;
}

.frout-list ul ol,
.frout-list ol ol {
    list-style-type: decimal;
}

/* class="frout-accordion" -------------------------------- */

/* Accordion Block */
.frout-accordion {
    border: var(--border-red-light);
    overflow: hidden;
    transition: var(--ease-std);
}

/*  Accordion Summary Clickable */
.frout-accordion summary {
    display: block;
    position: relative;
    padding: 1.2rem 4.6rem 1.2rem 1.8rem;
    font-weight: 600;
    cursor: pointer;
    list-style: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: var(--ease-std);
}

.frout-accordion summary::-webkit-details-marker {
    display: none;
}

/* Accordion Summary Hover */
.frout-accordion summary:hover {
    text-shadow: var(--text-shadow-red-light);
}

/* Accordion Summary Arrow */
.frout-accordion summary::after {
    content: "▷";
    color: var(--text-red-dark);
    position: absolute;
    right: 1.8rem;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    transition: var(--ease-std);
}

.frout-accordion details[open] summary::after {
    transform: translateY(-50%) rotate(90deg);
}

/* Accordion Open */
.frout-accordion details[open] {
    background-color: var(--background-gray-light);
    color: var(--text-red-dark);
}

/* Accordion Details */
.frout-accordion details[open] > p {
    color: var(--text-gray-dark);
    padding: 1.2rem 1.8rem 0;
    line-height: 1.9;
    font-size: 0.95rem;
    background-color: var(--background-white);
    border-top: var(--border-red-light);
}

/* class="frout-blockquote" ------------------------------- */

/*  */
.frout-blockquote {
    padding: 1.2rem 1.8rem;
    border-left: var(--border-red-dark);
    color: var(--text-gray-medium);
    background-color: var(--background-gray-light);
    font-style: italic;
    box-shadow: inset 2px 0 0 0 var(--background-white);
}

.frout-blockquote cite {
    display: block;
    margin-top: 0.8rem;
    text-align: right;
    font-style: normal;
    font-size: 0.9rem;
    color: var(--text-red-dark);
    font-weight: 600;
}

/* class="frout-footnote" --------------------------------- */

/* Footnote Block */
.frout-footnote {
    position: relative;
    padding: 1.2rem 1.8rem 1.2rem 2.5rem;
    border: var(--border-red-light);
}

/* Footnote List */
.frout-footnote ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Footnote List Item */
.frout-footnote li {
    font-size: 0.85rem;
    padding: 0.3rem 0;
    line-height: 1.8;
    display: block;
}

/* Footnote List Item Marker */
.frout-footnote li span:first-child {
    color: var(--text-red-dark);
    margin: 0 0.5rem;
}

/* Footnote List Item Link */
sup {
    font-size: 0.75em;
    font-weight: 600;
    vertical-align: super;
}

/* Footnote List Item Link */
sup a {
    display: inline-block;
    color: var(--text-blue);
    text-decoration: none;
    margin: 0;
    transition: var(--ease-micro);
}

/* Footnote List Item Link Hover */
sup a:hover, 
sup a:focus-visible {
    color: var(--text-red-dark);
    text-shadow: var(--text-shadow-red-light);
    transform: var(--translate);
}

/* class="frout-code" ------------------------------------- */

/* Code Block */
.frout-code {
    position: relative;
    padding: 2.4rem 1.8rem 1.2rem;
    background-color: var(--background-black);
    border-left: var(--border-red-dark);
    box-shadow: inset 2px 0 0 0 var(--background-white);
}

/* Code Block Title */
.frout-code > div {
    top: 1rem;
    background-color: var(--background-dark);
    color: var(--text-gray-medium);
    text-shadow: none;
}

/* Code Block Pre */
.frout-code pre {
    margin: 0;
    padding: 1rem 0;
}

/* Code Block Code */
.frout-code code {
    font-size: 0.95rem;
    line-height: 1.9;
    color: var(--text-white);
    white-space: pre;
    display: block;
}

/* class="frout-table" ------------------------------------ */

/* Table Block */
.frout-table table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.95rem;
}

/* Table Head */
.frout-table th {
    color: var(--text-red-dark);
    font-weight: 600;
    padding: 1rem;
    border-bottom: var(--border-red-dark);
    text-align: left;
    background-color: var(--background-white);
}

/* Table Data */
.frout-table td {
    padding: 1rem;
    border-bottom: var(--border-red-light);
    border-right: var(--border-red-light);
}

/* Table Data Last */
.frout-table td:last-child, 
.frout-table th:last-child {
    border-right: none;
}

/* Table Row Odd */
.frout-table tbody tr:nth-child(odd) {
    background-color: var(--background-gray-light);
}

/* Table Row Hover */
.frout-table tbody tr {
    transition: var(--ease-micro);
}

/* Table Row Hover */
.frout-table tbody tr:hover {
    color: var(--text-red-dark);
}

/* class="frout-image-block" ------------------------------ */

/* Image Block */
.frout-image-block {
    display: flex;
    gap: 1rem;
    background-color: var(--background-gray-light);
    border: var(--border-gray-light);
    padding: 1.5rem, 1.8rem;
    align-items: flex-start;
}

/* Image Block Media */
.frout-image-block-media {
    flex: 0 0 40%;
    max-width: 320px;
    margin: 0;
}

/* Image Block Media Image */
.frout-image-block-media img {
    width: 100%;
    height: auto;
    display: block;
    border: var(--border-gray-light);
    border-radius: 6px;
}

/* Image Block Media Caption */
.frout-image-block-media figcaption {
    font-size: 0.8rem;
    color: var(--text-red-dark);
    text-align: center;
    margin-top: 0.5rem;
}

/* Image Block Content */
.frout-image-block-content {
    flex: 1;
}

/* Image Block Content Title */
.frout-image-block-content h4 {
    margin: 1rem 1rem;
    font-size: 1.1rem;
    color: var(--text-red-dark);
    font-weight: 700;
}

/* Image Block Content Body */
.frout-image-block-content p {
    margin: 1.2rem 1.8rem;
}

/* Image Block Responsive */
@media screen and (max-width: 768px) {
    .frout-image-block {
        flex-direction: column;
    }
    .frout-image-block-media {
        flex: 1 1 100%;
        max-width: 100%;
        margin-bottom: 1rem;
    }
}

/* frout-timestamp ---------------------------------------- */
.frout-timestamp {
    font-family: 'PT Mono', monospace;
    display: block;
    text-align: right;
    gap: 1.5rem;
    font-size: 0.8rem;
    color: var(--text-gray-medium);
}

.frout-timestamp time:nth-child(2) {
    color: var(--text-gray-dark);
}

/* class="rsc-grid" --------------------------------------- */

/* Redstone Chronography Grid */
.rsc-grid {
    display: grid;
    grid-template-columns: 
        35px 
        35px 
        35px 
        minmax(115px, 2fr) 
        minmax(55px, 1fr) 
        minmax(55px, 1fr) 
        minmax(55px, 1fr) 
        minmax(165px, 3fr);
    font-size: 0.9rem;
}

/* Redstone Chronography Grid Item */
.rsc-grid > span {
    padding: 0.6rem 0.5rem;
    display: flex;
    align-items: center;
    border-right: var(--border-red-light);
    line-height: 1.9;
}

/* Redstone Chronography Grid Item Last */
.rsc-grid > span:nth-child(8n) {
    border-right: none;
}

/* Redstone Chronography Grid Item 1 ~ 3 */
.rsc-grid > span:nth-child(8n+1), 
.rsc-grid > span:nth-child(8n+2), 
.rsc-grid > span:nth-child(8n+3) {
    color: var(--text-red-dark);
    font-weight: 600;
    font-size: 0.8rem;
    justify-content: center;
}

/* Redstone Chronography Grid Item 4 ~ 8 */
.rsc-grid > span:nth-child(8n+4), 
.rsc-grid > span:nth-child(8n+5), 
.rsc-grid > span:nth-child(8n+6), 
.rsc-grid > span:nth-child(8n+7), 
.rsc-grid > span:nth-child(8n) {
    font-family: 'PT Mono', monospace;
}

/* Redstone Chronography Grid Item Top */
.rsc-grid > span:nth-child(-n+8) {
    font-family: 'Zen Old Mincho', serif;
    color: var(--text-red-dark);
    font-weight: 600;
    font-size: 1rem;
    border-bottom: var(--border-red-dark);
    justify-content: left;
}

/* Redstone Chronography Grid Item 3 */
.rsc-grid > span:nth-child(8n+3) {
    border-right: var(--border-red-dark);
}

/* Redstone Chronography Grid Item 9 ~ 16 */
.rsc-grid > span:nth-child(16n+9), 
.rsc-grid > span:nth-child(16n+10), 
.rsc-grid > span:nth-child(16n+11), 
.rsc-grid > span:nth-child(16n+12), 
.rsc-grid > span:nth-child(16n+13), 
.rsc-grid > span:nth-child(16n+14), 
.rsc-grid > span:nth-child(16n+15), 
.rsc-grid > span:nth-child(16n+16) {
    background-color: var(--background-gray-light);
}